<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.henshin.multi.processor">
      <client
            class="org.eclipse.emf.henshin.variability.multi.SecPLUtil"
            hasExternalFeatureModel="true"
            name="Sec PL"
            usesEmbeddedFeatureModel="false">
      </client>
   </extension>

</plugin>
